<!-- Fixed Header & Navigation
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <div class="sidebar-menu">
    <div class="menu-close"><span aria-hidden="true" class="icon_close"></span></div>
    <h3 class="smlogo">{{ site.logo_title }}</h3>
    <nav class="navigation">
      <ul class="smenu navigation">
        <li><a href="#page-intro">Home</a></li>
        <li><a href="#page-about">About</a></li>
        <li><a href="#page-resume">Resume</a></li>
        <li><a href="#page-folio">Portfolio</a></li>
        <li><a href="#page-services">Services</a></li>
        <li><a href="#page-contact">Contact</a></li>
      </ul>
    </nav>
  </div>


<header class="header-fixed">

  <div class="site-menu col-md-2 col-sm-2 col-xs-4">
    <div class="menu-bar mb-top"></div>
    <div class="menu-bar mb-mid"></div>
    <div class="menu-bar mb-bot"></div>
  </div>

  <div class="site-logo col-md-10 col-sm-10 col-xs-8">
    <h3>{{ site.logo_title }}</h3>
  </div>


</header>