<!-- Fixed Header & Navigation
–––––––––––––––––––––––––––––––––––––––––––––––––– -->

<div class="sidebar-menu">
  <div class="menu-close"><span aria-hidden="true" class="icon_close"></span></div>
  <h3 class="smlogo">{{ site.logo_title }}</h3>
  <nav class="navigation">
    <ul class="smenu navigation">
      {% for title in include.sections %}
      {% assign section = site.sections | where: "title", title | first %}
      <li><a href="#page-{{ section.slug }}">{{ section.title }}</a></li>
      {% endfor %}
    </ul>
  </nav>
</div>


<header class="header-fixed">

  <div class="site-menu col-md-2 col-sm-2 col-xs-4">
    <div class="menu-bar mb-top"></div>
    <div class="menu-bar mb-mid"></div>
    <div class="menu-bar mb-bot"></div>
  </div>

  <div class="site-logo col-md-10 col-sm-10 col-xs-8">
    <h3>{{ site.logo_title }}</h3>
  </div>


</header>