{% assign categories =  site.projects | map: 'categories' | join: ',' | join: ',' | split: ',' | sort %}

<ul class="filters filters-group nop">
  <li class="filter is-checked" data-filter="*">All</li>
  {% for category in categories %}
    {% unless category == previous %}
      <li class="filter" data-filter=".{{ category | slugify }}">{{ category }}</li>
    {% endunless %}

    {% assign previous = category %}

  {% endfor %}
</ul>

<div id="isotopeGrid" class="mGrid">
  <div class="grid-sizer"></div>

  {% for project in site.projects %}
    {% assign category_classes = '' %}
    {% for category in project.categories %}
    {% assign category_class = category | slugify %}
    {% assign category_classes = category_classes | append: ' ' | append: category_class %}
    {% endfor %}
  <div class="itemIso {{ category_classes }}">
    <!-- Project Card -->
    <a class="image-modal" data-toggle="modal" data-target=".modal1" href="#image-{{ project.slug}}">
      <img src="{{ project.cover_photo }}" alt="{{project.title | append:' cover photo'}}">
      <div class="item-hover">
        <div class="item-hover-content">
          <div class="item-title">{{ project.title }}</div>
          <i>{{ project.categories | join: ' | ' }}</i>
        </div>
      </div>
    </a>
    <!-- Project Modal -->
    <div id="image-{{ project.slug}}" class="mfp-hide modal-box">
      {% if project.images.size > 1 %}
        {% include carousel.html images=project.images slug=project.slug %}
      {% else %}
        <img src="{{ project.cover_photo }}" alt="{{project.title | append:' cover photo'}}">
      {% endif %}
      <div class="modal-box-content">
        <h3>{{ project.title }}</h3>
        <p>{{ project.content }} </p>
      </div>
    </div>

  </div>
  {% endfor %}
</div>
