<!-- JAVASCRIPTS=========== -->

<script src="{{ site.github.url }}/assets/js/jquery-2.1.3.js"></script>
<!-- AJAX Form Submit -->
<script src="{{ site.github.url }}/assets/js/contactform.js"></script>
<!--Main Bootstrap JS-->
<script src="{{ site.github.url }}/assets/js/bootstrap.js"></script>
<!--JS for easy scrolling-->
<script src="{{ site.github.url }}/assets/js/jquery.easing.js"></script>
<!--JS for Isotope Grid-->
<script src="{{ site.github.url }}/assets/js/isotope.pkgd.min.js"></script>
<!--JS for Isotope Grid-->
<script src="{{ site.github.url }}/assets/js/jquery.justifiedGallery.min.js"></script>
<!-- Typed -->
<script src="{{ site.github.url }}/assets/js/typed.min.js"></script>
<!--Scripts-->
<script src="{{ site.github.url }}/assets/js/scripts.js"></script>
<!-- Smooth Scroll & Nav & active -->
<script src="{{ site.github.url }}/assets/js/nav-active.js"></script>
<script src="{{ site.github.url }}/assets/js/smoothscroll.js"></script>
<script src="{{ site.github.url }}/assets/js/classie.js"></script>
<script src="{{ site.github.url }}/assets/js/headerscroll.js"></script>
<!-- Wow Animations -->
<script src="{{ site.github.url }}/assets/js/wow.min.js"></script>
<!-- Google maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3vXu_Tce-LnOAYNa4Y8oATUim6R7QBZE&callback=initMap" async defer></script>
