<!-- JAVASCRIPTS=========== -->

<script src="/assets/js/jquery-2.1.3.js"></script>
<!-- AJAX Form Submit -->
<script src="/assets/js/contactform.js"></script>
<!--Main Bootstrap JS-->
<script src="/assets/js/bootstrap.js"></script>
<!--JS for easy scrolling-->
<script src="/assets/js/jquery.easing.js"></script>
<!--JS for Isotope Grid-->
<script src="/assets/js/isotope.pkgd.min.js"></script>
<!--JS for Isotope Grid-->
<script src="/assets/js/jquery.justifiedGallery.min.js"></script>
<!-- Typed -->
<script src="/assets/js/typed.min.js"></script>
<!--Scripts-->
<script src="/assets/js/scripts.js"></script>
<!-- Smooth Scroll & Nav & active -->
<script src="/assets/js/nav-active.js"></script>
<script src="/assets/js/smoothscroll.js"></script>
<script src="/assets/js/classie.js"></script>
<script src="/assets/js/headerscroll.js"></script>
<!-- Wow Animations -->
<script src="/assets/js/wow.min.js"></script>
<!-- Google maps -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
